.card {
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.book-details {
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.detail-item {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.detail-item:last-child {
  border-bottom: none;
}

.detail-label {
  font-weight: 500;
  color: #4b5563;
  font-size: 0.875rem;
  margin-bottom: 4px;
}

.detail-value {
  color: #111827;
  font-size: 1.05rem;
}

.btn {
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.2s;
}

.btn-primary {
  background-color: #878CEDFF;
  border-color: #878CEDFF;
}

.btn-primary:hover {
  background-color: #4850E4FF;
  border-color: #4850E4FF;
}

.btn-danger {
  background-color: #EB759AFF;;
  border-color: #EB759AFF;;
}

.btn-danger:hover {
  background-color: #d32f2f;
  border-color: #d32f2f;
}

h2 {
  color: #111827;
  font-weight: 600;
}

a.text-decoration-none {
  color: #6366F1;
  transition: color 0.2s;
}

a.text-decoration-none:hover {
  color: #4F46E5;
} 