.card {
  border: none;
  border-radius: 10px;
}

.card-title {
  color: #495057;
}

.form-control:focus {
  border-color: #636AE8FF;
}

.btn-primary {
  color: #FFFFFFFF;
  background: #636AE8FF;
  border-color: #636AE8FF;
}

.btn-primary:hover {
  color: #FFFFFFFF;
  background: #4850E4FF;
  border-color: #4850E4FF;
}
